@import "tailwindcss";

:root{
  --bg:#09090b;
}

html,body{
  margin:0;
  padding:0;
  background:#09090b;
  color:white;
  font-family:Inter,sans-serif;
}

body{
  overflow-x:hidden;
}

.bg-grid{
  background-image:
  linear-gradient(rgba(255,255,255,.04) 1px,transparent 1px),
  linear-gradient(90deg,rgba(255,255,255,.04) 1px,transparent 1px);
  background-size:60px 60px;
}

.glass-panel{
  background:rgba(255,255,255,.04);
  backdrop-filter:blur(18px);
  border:1px solid rgba(255,255,255,.08);
}

.text-gradient{
  background:linear-gradient(90deg,#60a5fa,#8b5cf6,#22d3ee);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
